<p-dialog header="Seleccionar categoria" [resizable]="true" [(visible)]="display" width="500" modal="true" [responsive]="true">
    <categoria-buscador (onSelect)="cambioCategoria($event)"></categoria-buscador>
</p-dialog>