<p-dialog header="Seleccionar cliente" [resizable]="true" [(visible)]="display" width="700" modal="true" [responsive]="true">
    <cliente-buscador (onSelect)="cambioCliente($event)"></cliente-buscador>
</p-dialog>