<p-dialog header="Seleccionar marca" [resizable]="true" [(visible)]="display" width="500" modal="true" [responsive]="true">
    <marca-buscador (onSelect)="cambioMarca($event)"></marca-buscador>
</p-dialog>