<p-dialog header="Seleccionar orden de compra" [resizable]="true" [(visible)]="display" width="700" modal="true" [responsive]="true">
    <orden-compra-buscador (onSelect)="cambioOrdenCompra($event)"></orden-compra-buscador>
</p-dialog>