<p-dialog header="Seleccionar persona" [resizable]="true" [(visible)]="display" width="700" modal="true" [responsive]="true">
    <persona-buscador (onSelect)="cambioPersona($event)"></persona-buscador>
</p-dialog>