<p-dialog header="Seleccionar producto" [resizable]="true" [(visible)]="display" width="800" modal="true" [responsive]="true">
    <producto-buscador (onSelect)="cambioProducto($event)"></producto-buscador>
</p-dialog>