<p-dialog header="Seleccionar producto" [resizable]="true" [(visible)]="display" width="800" modal="true" [responsive]="true">
    <producto-proveedor-buscador (openModal)="openModal($event)" (onSelect)="cambioProducto($event)"></producto-proveedor-buscador>
</p-dialog>
<producto-cantidad-formulario-modal (agregarCantidadProducto)="agregarCantidad($event)"></producto-cantidad-formulario-modal>
<message-dialog></message-dialog>