<p-dialog header="Ingrese cantidad" [resizable]="true" [(visible)]="display" modal="true" [responsive]="true">
    <div class="ui-g-12 ui-md-12 ui-lg-12">
        <input #toFocus (keyup)="$event.keyCode == 13 && agregarProducto()" *ngIf="!disponibleDecimales" [(ngModel)]="cantidad" class="border-radius-0" pInputText entero/>
        <input #toFocus (keyup)="$event.keyCode == 13 && agregarProducto()" *ngIf="disponibleDecimales" [(ngModel)]="cantidad" class="border-radius-0" pInputText decimal/>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-12 text-center">
        <button class="mb-5" pButton type="button" (click)="agregarProducto()" label="Agregar producto">
                <span class="save"></span>
            </button>
    </div>
</p-dialog>