<p-dialog header="Seleccionar proveedor" [resizable]="true" [(visible)]="display" width="700" modal="true" [responsive]="true">
    <proveedor-buscador (onSelect)="cambioProveedor($event)"></proveedor-buscador>
</p-dialog>