<p-dialog header="Seleccionar requerimiento de transferencia" [resizable]="true" [(visible)]="display" width="700" modal="true" [responsive]="true">
    <requerimiento-transferencia-buscador (onSelect)="cambioRequerimientoTransferencia($event)"></requerimiento-transferencia-buscador>
</p-dialog>