<p-dialog header="Seleccionar sucursal" [resizable]="true" [(visible)]="display" width="500" modal="true" [responsive]="true">
    <sucursal-buscador (onSelect)="cambioSucursal($event)"></sucursal-buscador>
</p-dialog>