<p-dialog header="Seleccionar tipo de documento" [resizable]="true" [(visible)]="display" width="500" modal="true" [responsive]="true">
    <tipo-documento-buscador (onSelect)="cambioTipoDocumento($event)"></tipo-documento-buscador>
</p-dialog>