<p-dialog header="Seleccionar tipo de motivo" [resizable]="true" [(visible)]="display" width="500" modal="true" [responsive]="true">
    <tipo-motivo-buscador (onSelect)="cambioTipoMotivo($event)"></tipo-motivo-buscador>
</p-dialog>