<p-dialog header="Seleccionar tipo de usuario" [resizable]="true" [(visible)]="display" width="500" modal="true" [responsive]="true">
    <tipo-usuario-buscador (onSelect)="cambioTipoUsuario($event)"></tipo-usuario-buscador>
</p-dialog>