<p-dialog header="Seleccionar trabajador" [resizable]="true" [(visible)]="display" width="700" modal="true" [responsive]="true">
    <trabajador-buscador (onSelect)="cambioTrabajador($event)"></trabajador-buscador>
</p-dialog>