<p-dialog header="Seleccionar unidad" [resizable]="true" [(visible)]="display" width="500" modal="true" [responsive]="true">
    <unidad-buscador (onSelect)="cambioUnidad($event)"></unidad-buscador>
</p-dialog>