<p-dialog (onHide)="onHide()" [resizable]="true" [(visible)]="display" width="1000" [contentStyle]="{'overflow':'hidden','padding': '0', 'border':'none'}" modal="true" [responsive]="true">
    <pdf-visualizador></pdf-visualizador>
</p-dialog>