<div class="ui-g pt-8">
    <div class="ui-g-12 ui-md-5 ui-lg-5 p0">
        <span class="ui-float-label">
                <input class="border-radius-0" (keyup)="$event.keyCode == 13 && consultar()"  type="text" pInputText [(ngModel)]="busquedaPaginada.buscar.numero" entero/>
                <label>Número</label>
        </span>
    </div>
    <div class="ui-g-10 ui-md-5 ui-lg-5 p0">
        <span class="ui-float-label">
            <input class="border-radius-0" (keyup)="$event.keyCode == 13 && consultar()"  type="text" pInputText [(ngModel)]="busquedaPaginada.buscar.nombre" mayuscula/>
            <label>Proveedor</label>
        </span>
    </div>
    <div class="ui-g-2 ui-md-2 ui-lg-2 p0">
        <button class="btn-buscar" pButton type="button" (click)="consultar()" icon="fa-search"></button>
    </div>
</div>
<p-dataTable [value]="busquedaPaginada.registros" selectionMode="single" emptyMessage="No se encontraron registros" (onRowSelect)="onRowSelect($event)">
    <p-column header="#" styleClass="campo-tabla-25" tableStyleClass="campo-tabla-data-center">
        <ng-template pTemplate="body" let-ri="rowIndex">
            {{(ri + 1) + (this.busquedaPaginada.paginaActual-1)*this.busquedaPaginada.cantidadPorPagina}}
        </ng-template>
    </p-column>
    <p-column field="documento" header="Documento"></p-column>
    <p-column>
        <ng-template pTemplate="header">
            Fecha
        </ng-template>
        <ng-template let-cot="rowData" pTemplate="body">
            {{cot.fechaEmision | date: 'dd/MM/yyyy'}}
        </ng-template>
    </p-column>
    <p-column field="persona" header="Proveedor"></p-column>
    <p-column field="valorTotal" header="Valor total"></p-column>
    <p-column field="moneda" header="Moneda"></p-column>
</p-dataTable>
<paginacion [paginaActual]="busquedaPaginada.paginaActual" [totalPaginas]="busquedaPaginada.totalPaginas" (cambioPaginacion)="consultar($event)"></paginacion>