<div class="ui-g pt-8">
    <div class="ui-g-12 ui-md-3 ui-lg-3 p0">
        <span class="ui-float-label">
                <input class="border-radius-0" (keyup)="$event.keyCode == 13 && consultar()"  type="text" pInputText [(ngModel)]="busquedaPaginada.buscar.codigo" mayuscula/>
                <label>Código</label>
        </span>
    </div>
    <div class="ui-g-12 ui-md-4 ui-lg-4 p0">
        <span class="ui-float-label">
            <input class="border-radius-0" (keyup)="$event.keyCode == 13 && consultar()"  type="text" pInputText [(ngModel)]="busquedaPaginada.buscar.nombre" mayuscula/>
            <label>Nombre</label>
        </span>
    </div>
    <div class="ui-g-10 ui-md-3 ui-lg-4 p0">
        <span class="ui-float-label">
            <input class="border-radius-0" (keyup)="$event.keyCode == 13 && consultar()"  type="text" pInputText [(ngModel)]="busquedaPaginada.buscar.marca" mayuscula/>
            <label>Marca</label>
        </span>
    </div>
    <div class="ui-g-2 ui-md-2 ui-lg-1 p0">
        <button class="btn-buscar" pButton type="button" (click)="consultar()" icon="fa-search"></button>
    </div>
</div>

<p-dataTable [value]="busquedaPaginada.registros" selectionMode="single" emptyMessage="No se encontraron registros" (onRowSelect)="onRowSelectProducto($event)">
    <p-column header="#" styleClass="campo-tabla-25" tableStyleClass="campo-tabla-data-center">
        <ng-template pTemplate="body" let-ri="rowIndex">
            {{(ri + 1) + (this.busquedaPaginada.paginaActual-1)*this.busquedaPaginada.cantidadPorPagina}}
        </ng-template>
    </p-column>
    <p-column field="codigo" header="Código"></p-column>
    <p-column field="nombre" header="Nombre"></p-column>
    <p-column field="marca" header="Marca"></p-column>
</p-dataTable>

<paginacion [paginaActual]="busquedaPaginada.paginaActual" [totalPaginas]="busquedaPaginada.totalPaginas" (cambioPaginacion)="consultar($event)"></paginacion>
<div class="ui-g-12 ui-md-12 ui-lg-12">
    <p-checkbox label="Todos los proveedores" (onChange)="obtenerCompras()" [(ngModel)]="proveedoresTodos" binary="true" [disabled]="!proveedor"></p-checkbox>
</div>
<div class="ui-g-12 ui-md-12 ui-lg-12">
    <p-dataTable [value]="compras" selectionMode="single" emptyMessage="No se encontraron registros" (onRowSelect)="onRowSelect($event)">
        <p-column field="documento" header="Documento"></p-column>
        <p-column>
            <ng-template pTemplate="header">
                Fecha
            </ng-template>
            <ng-template let-compra="rowData" pTemplate="body">
                {{compra.fechaEmision | date: 'dd/MM/yyyy'}}
            </ng-template>
        </p-column>
        <p-column field="proveedor" header="Proveedor"></p-column>
        <p-column field="precio" header="Precio"></p-column>
        <p-column field="moneda" header="Moneda"></p-column>
    </p-dataTable>
</div>