<div class="ui-g pt-8">
    <div class="ui-g-12 ui-md-5 ui-lg-3 p0">
        <span class="ui-float-label">
            <p-calendar class="calendar-w-100" dataType="string" [(ngModel)]="busquedaPaginada.buscar.desde" dateFormat="dd/mm/yy" yearNavigator="true" [locale]="es" monthNavigator="true" yearRange="1800:3000"></p-calendar>
            <label>Fecha inicio</label>
        </span>
    </div>
    <div class="ui-g-10 ui-md-5 ui-lg-3 p0">
        <span class="ui-float-label">
            <p-calendar class="calendar-w-100" dataType="string" [(ngModel)]="busquedaPaginada.buscar.hasta" dateFormat="dd/mm/yy" yearNavigator="true" [locale]="es" monthNavigator="true" yearRange="1800:3000"></p-calendar>
            <label>Fecha fin</label>
        </span>
    </div>
    <div class="ui-g-12 ui-md-5 ui-lg-4 p0">
        <span class="ui-float-label">
                <input class="border-radius-0" (keyup)="$event.keyCode == 13 && consultar()"  type="text" pInputText [(ngModel)]="busquedaPaginada.buscar.numero" entero/>
                <label>Número</label>
        </span>
    </div>
    <div class="ui-g-2 ui-md-2 ui-lg-2 p0">
        <button class="btn-buscar" pButton type="button" (click)="consultar()" icon="fa-search"></button>
    </div>
</div>
<p-dataTable [value]="busquedaPaginada.registros" selectionMode="single" emptyMessage="No se encontraron registros" (onRowSelect)="onRowSelect($event)">
    <p-column header="#" styleClass="campo-tabla-25" tableStyleClass="campo-tabla-data-center">
        <ng-template pTemplate="body" let-ri="rowIndex">
            {{(ri + 1) + (this.busquedaPaginada.paginaActual-1)*this.busquedaPaginada.cantidadPorPagina}}
        </ng-template>
    </p-column>
    <p-column field="documento" header="Documento"></p-column>
    <p-column>
        <ng-template pTemplate="header">
            Fecha
        </ng-template>
        <ng-template let-cot="rowData" pTemplate="body">
            {{cot.fechaEmision | date: 'dd/MM/yyyy'}}
        </ng-template>
    </p-column>
    <p-column field="sucursalOrigen" header="Sucursal de origen"></p-column>
    <p-column field="sucursalDestino" header="Sucursal de destino"></p-column>
</p-dataTable>
<paginacion [paginaActual]="busquedaPaginada.paginaActual" [totalPaginas]="busquedaPaginada.totalPaginas" (cambioPaginacion)="consultar($event)"></paginacion>