.main-tab div{display:none!important}#footer{position:fixed;height:50px;text-align:center;bottom:0;background:#FE2E2E;padding:0;color:rgb(0, 0, 0)}#main-tab-container div{border:none;border-top:1px solid #ddd}#footer span{position:relative;float:left;top:50%;left:50%;transform:translate(-50%,-50%)}