<div id="menu-desktop-container">
    <p-menubar id="menu-desktop" [model]="itemsMenu">
        <!--<p-splitButton [label]="usuarioSucursal" icon="fa-user" [model]="itemsButton"></p-splitButton>-->
    </p-menubar>
</div>
<div id="menu-movil-container">
    <p-toolbar id="menu-toolbar">
       <span>{{usuarioSucursal}}</span>
        <div class="ui-toolbar-group-right">
            <button #btn type="button" pButton icon="fa fa-list" (click)="openMenuMovil=!openMenuMovil"></button>
        </div>
    </p-toolbar>
    <div id="menu-movil" [hidden]="!openMenuMovil">
        <p-panelMenu #menu [model]="itemsMenuMovil"></p-panelMenu>
    </div>
</div>