<p-dialog header="{{titulo}}" [(visible)]="display" modal="modal" width="300" [responsive]="true" [closable]="false" (onHide)="onHide()">
    <p>{{mensaje}}</p>
    <p-footer>
        <button type="button" pButton icon="fa-check" (click)="hideDialog()" label="Aceptar"></button>
    </p-footer>
</p-dialog>