<div class="ui-g-12 ui-md-12 ui-lg-12 text-center">
    <button class="ui-button-secondary btn-nav" pButton type="button" (click)="primeraPagina()">
                <span class="first ml-0 mr-0 span-nav"></span>
    </button>
    <button class="ui-button-secondary btn-nav" pButton type="button" (click)="anteriorPagina()">
                <span class="backward ml-0 mr-0 span-nav"></span>
    </button>
    <div id="nav-page-container">
        <span>Página</span>
        <input class="border-radius-0 w-50 input-nav-page" (keyup)="$event.keyCode == 13 && cambioPagina()" entero type="text" pInputText [(ngModel)]="paginaActual" />
        <span>/ {{totalPaginas}}</span>
    </div>
    <button class="ui-button-secondary btn-nav" pButton type="button" (click)="siguientePagina()">
                <span class="forward ml-0 mr-0 span-nav"></span>
    </button>
    <button class="ui-button-secondary btn-nav" pButton type="button" (click)="ultimaPagina()">
                <span class="last ml-0 mr-0 span-nav"></span>
    </button>
</div>