* {
    margin: 0;
    padding: 0;
}

.ui-inputtext {
    width: 100%;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-5 {
    margin-top: 5px;
}

.text-center {
    text-align: center;
}


/*.ui-state-highlight {
        color: #555555 !important;
        background: none !important;
    }*/

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.fls-main fieldset {
    background: white !important;
}

.items-center {
    align-items: center;
}

.pb-15 {
    padding-bottom: 15px;
}

.mb-50 {
    margin-bottom: 50px;
}

.pt-8 {
    padding-top: 8px;
}

.pt-0 {
    padding-top: 0px;
}

.pb-0 {
    padding-bottom: 0px;
}

.m0 {
    margin: 0px;
}

.p0 {
    padding: 0px;
}

.pr0 {
    padding-right: 0px;
}

.pl0 {
    padding-left: 0px;
}

.btn-buscar {
    width: 100%;
    border: none;
    height: 100%;
    border-radius: 0;
}

.border-radius-0 {
    border-radius: 0;
}

.ui-widget-header {
    border: none;
    background: transparent;
}

.ui-datatable thead tr th {
    background: #ff0000 !important;
    color: rgb(0, 0, 0);
}

.ui-dialog .ui-dialog-titlebar {
    color: black;
    border-bottom: 1px solid #bbb;
}

.ui-button-text-only .ui-button-text {
    float: left;
    height: 38px;
    line-height: 28px;
    padding-left: 3px;
    color: rgb(0, 0, 0) !important;
    background: #ff0000 !important;
}

.resalta-texto {
    color: #a94442;
    font-size: 30px;
    font-weight: 900;
}

.resalta-texto-peq {
    color: #a94442;
    font-size: 20px;
    font-weight: 900;
}

.ui-dialog .ui-dialog-titlebar-icon {
    color: black;
}

.ml-0 {
    margin-left: 0px !important;
}

.mr-0 {
    margin-right: 0px !important;
}

.w-50 {
    width: 50px;
}

@media (max-width: 500px) {
    .ui-dialog {
        width: 100% !important;
    }
}


/* iconos */

span.save,
span.delete,
span.update,
span.new,
span.cancel,
span.first,
span.last,
span.forward,
span.backward,
span.view,
span.print,
span.search {
    background-size: contain;
    cursor: pointer;
    height: 32px;
    width: 32px;
    display: block;
    float: left;
    margin: 3px;
}

span.first {
    background: url(../icono/first.svg) no-repeat top left;
}

span.search {
    background: url(../icono/search.svg) no-repeat top left;
}

span.last {
    background: url(../icono/last.svg) no-repeat top left;
}

span.forward {
    background: url(../icono/forward.svg) no-repeat top left;
}

span.backward {
    background: url(../icono/backward.svg) no-repeat top left;
}

span.save {
    background: url(../icono/save.svg) no-repeat top left;
}

span.delete {
    background: url(../icono/delete.svg) no-repeat top left;
}

span.update {
    background: url(../icono/update.svg) no-repeat top left;
}

span.new {
    background: url(../icono/new.svg) no-repeat top left;
}

span.cancel {
    background: url(../icono/undo.svg) no-repeat top left;
}

span.view {
    background: url(../icono/eye.svg) no-repeat top left;
}

span.print {
    background: url(../icono/print.svg) no-repeat top left;
}


/* loader */

.splash-logo {
    left: 50%;
    top: 50%;
    margin-left: -45px;
    margin-top: -45px;
    z-index: 2;
    position: absolute;
    width: 90px;
}

.splash-loader,
.splash-loader::before,
.splash-loader::after {
    left: 50%;
    top: 50%;
    margin-left: -45px;
    margin-top: -45px;
    position: absolute;
    vertical-align: middle;
    background: #f44336;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    z-index: 1;
}

.splash-loader::before {
    content: "";
    animation: bounce 1.5s infinite;
}

.splash-loader::after {
    content: "";
    animation: bounce 1.5s -0.4s infinite;
}

@keyframes bounce {
    0% {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        -webkit-transform: scale(2);
        opacity: 0;
    }
}

@-webkit-keyframes bounce {
    0% {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        -webkit-transform: scale(2);
        opacity: 0;
    }
}

.splash-screen {
    background-color: #f3f3f3;
    height: 100%;
}

#loader {
    z-index: 999999;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(20, 20, 20, 0.6);
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    display: none;
}

.hide-custom {
    display: none;
}

.loader .loader-img-container {
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 100px;
    margin-left: -100px;
    margin-top: -50px;
    background: white;
}

.loader .loader-img-container img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -25px;
}

td.campo-tabla-25,
th.campo-tabla-25 {
    width: 15%;
}

@media screen and (min-width: 64.063em) {
    td.campo-tabla-25,
    th.campo-tabla-25 {
        width: 6.777%;
    }
}

@media screen and (min-width: 40.063em) and (max-width: 64.063em) {
    td.campo-tabla-25,
    th.campo-tabla-25 {
        width: 15.3333%;
    }
}

td.campo-tabla-50,
th.campo-tabla-50 {
    width: 50px !important;
    padding: 5px !important;
}

.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 10px !important;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    width: 100%;
}

td.campo-tabla-75,
th.campo-tabla-75 {
    width: 75px !important;
    padding: 5px !important;
}

td.campo-tabla-100,
th.campo-tabla-100 {
    width: 100px !important;
    padding: 5px !important;
}

td.campo-tabla-150,
th.campo-tabla-150 {
    width: 150px !important;
    padding: 5px !important;
}

td.campo-tabla-200,
th.campo-tabla-200 {
    width: 200px !important;
    padding: 5px !important;
}

td.campo-tabla-250,
th.campo-tabla-250 {
    width: 250px !important;
    padding: 5px !important;
}

td.campo-tabla-data {
    padding: 5px !important;
}

td.campo-tabla-data-center {
    text-align: center !important;
    padding: 5px !important;
}

td.campo-tabla-data-right {
    text-align: right !important;
    padding: 5px !important;
}

td.campo-tabla-data-left {
    text-align: left !important;
    padding: 5px !important;
}

.panel-notificacion div.ui-datalist-content {
    border: none;
}

div.panel-notificacion div.panel-item:hover div.panel-item-content {
    background-color: white;
}

div.divider-vertical {
    width: 100%;
    position: relative;
    height: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-bottom: 1px black solid;
}

.ui-tree {
    width: 100% !important;
    margin-bottom: 5px;
}

.custom-select .ui-dropdown {
    width: 100% !important;
}

.datepicker-trigger {
    width: 11% !important;
    margin: 0 !important;
}

.calendar-w-100 .ui-calendar {
    width: 100% !important;
}

.ui-calendar {
    width: 90%;
}


/** pdf viewer **/

.embed-responsive {
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.embed-responsive.embed-responsive-4by3 {
    padding-bottom: 100%;
    position: inherit;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.ui-inputtext {
    padding-bottom: .28em !important;
}

.ui-dialog.ui-widget .ui-dialog-titlebar {
    padding: .5em .75em !important;
}

.ui-dialog-footer {
    padding: .2em !important;
}

.ui-datatable table {
    table-layout: auto !important;
    font-size: 13px !important;
}

.tr-footer-table {
    background: #f44336 !important;
    color: rgb(0, 0, 0);
    text-align: right;
}

.white-space-unset {
    white-space: unset !important;
}

a {
    text-decoration: none !important;
}

.ui-fieldset .ui-fieldset-legend-text {
    vertical-align: unset !important;
}
.ui-widget.ui-button, .ui-button {
    border: 1px solid #f44336 !important;
    color: rgb(0, 0, 0) !important;
    background: #f44336 !important;
}