<menu (onSelectMenuItem)="openTab($event)" (onCloseSession)="cerrarSesion()"></menu>
<tabs></tabs>

<footer id="footer" class="ui-g-12">
    <span>SISTEMA DE ALMACEN..</span>
</footer>

<confirm-dialog></confirm-dialog>
<!--Plantillas-->
<ng-template #tipo.usuario>
    <tipo-usuario></tipo-usuario>
</ng-template>
<ng-template #unidad>
    <unidad></unidad>
</ng-template>
<ng-template #permiso>
    <permiso></permiso>
</ng-template>
<ng-template #tipo.documento>
    <tipo-documento></tipo-documento>
</ng-template>
<ng-template #sucursal>
    <sucursal></sucursal>
</ng-template>
<ng-template #tipo.motivo>
    <tipo-motivo></tipo-motivo>
</ng-template>
<ng-template #marca>
    <marca></marca>
</ng-template>
<ng-template #categoria>
    <categoria></categoria>
</ng-template>
<ng-template #usuario>
    <usuario></usuario>
</ng-template>
<ng-template #persona>
    <persona></persona>
</ng-template>
<ng-template #trabajador>
    <trabajador></trabajador>
</ng-template>
<ng-template #proveedor>
    <proveedor></proveedor>
</ng-template>
<ng-template #producto>
    <producto></producto>
</ng-template>
<ng-template #requerimiento.transferencia>
    <requerimiento-transferencia></requerimiento-transferencia>
</ng-template>
<ng-template #orden.compra>
    <orden-compra></orden-compra>
</ng-template>
