<div [ngStyle]="{'height': windowHeight}" class="ui-g items-center login-container">
    <div id="login">
        <div class="ui-grid-row" id="login-img-container">
            <figure>
                <img id="logo" src="app/recurso/imagen/logo.jpg" alt="">
            </figure>
        </div>
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid ">
            <div class="ui-grid-row pb-15">
                <div *ngIf="error" class="error">
                    {{error}}
                </div>
            </div>
            <div class="ui-grid-row pb-15">
                <div class="ui-grid-col-12">
                    <span class="ui-float-label">
                        <input #toFocus pInputText type="text" (blur)="obtenerSucursales()" (keyup)="$event.keyCode == 13 && esFormularioValido() && validarLogin()" [(ngModel)]="usuario.login" mayuscula/>
                        <label>Usuario</label>
                    </span>
                </div>

            </div>
            <div class="ui-grid-row pb-15">
                <div class="ui-grid-col-12 ">
                    <span class="ui-float-label">
                        <input  pInputText type="password" (keyup)="$event.keyCode == 13 && esFormularioValido() && validarLogin()"  [(ngModel)]="usuario.clave"/>
                        <label>Contraseña</label>
                    </span>
                </div>
            </div>
            <div *ngIf="sucursales.length > 0" class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <p-dropdown [options]="sucursales" class="custom-select" [(ngModel)]="sucursal"></p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <button pButton (click)="validarLogin()" label="Iniciar sesion" class="btn-login" [disabled]="!esFormularioValido()"></button>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <button pButton (click)="limpiarFormulario()" class="btn-login" label="Limpiar formulario"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<message-dialog></message-dialog>