<div class="ui-g">
    <div class="ui-g-12 ui-md-12 ui-lg-1"></div>
    <div class="ui-g-12 ui-md-12 ui-lg-10 p0">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label">
                        <input class="border-radius-0" type="text" [(ngModel)]="usuarioSession.sucursal" pInputText [disabled]="componentesInactivos" [readonly]="true" mayuscula/>
                        <label>Sucursal</label>
                    </span>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div class="ui-g-10 ui-md-5 ui-lg-11 p0">
                    <span class="ui-float-label">
                        <input class="border-radius-0" type="text" [(ngModel)]="documentoCabecera.persona.nombre" pInputText [disabled]="componentesInactivos" [readonly]="true" mayuscula/>
                        <label>Proveedor</label>
                    </span>
                </div>
                <div class="ui-g-2 ui-md-2 ui-lg-1 p0">
                    <button class="btn-buscar" pButton type="button" (click)="abrirSelectorProveedor()" icon="fa-search" [disabled]="componentesInactivos"></button>
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <p-dropdown [options]="tiposMoneda" class="custom-select" (onChange)="cambioTipoMoneda()" [(ngModel)]="documentoCabecera.tipoMoneda.id" placeholder="Tipo de moneda" [disabled]="componentesInactivos"></p-dropdown>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-1"></div>
    <div class="ui-g-12 ui-md-12 ui-lg-1"></div>
    <div class="ui-g-12 ui-md-12 ui-lg-10">
        <p-fieldset legend="Productos" [toggleable]="false">
            <div class="ui-g-12 ui-md-12 ui-lg-12 p0">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-7 p0">
                        <span class="resalta-texto">{{'Total: ' + calcularTotales('precioNormal','cantidad') + ' ' + tipoMoneda}}</span>
                        <br>
                        <div class="ui-g-12 ui-md-12 ui-lg-12 p0">
                            <div class="ui-g-12 ui-md-4 ui-lg-3 pr0 pl0">
                                <span class="ui-float-label">
                            <input class="border-radius-0" maxlength="6" [(ngModel)]="producto.codigo" (keyup)="$event.keyCode == 13 && obtenerProductoPorCodigo()" type="text" pInputText [disabled]="componentesInactivos"  mayuscula/>
                            <label>Cod. producto</label>
                        </span>
                            </div>
                            <div class="ui-g-11 ui-md-6 ui-lg-7 pr0 pl0">
                                <span class="ui-float-label">
                            <input class="border-radius-0" [(ngModel)]="producto.nombre" type="text" pInputText [disabled]="componentesInactivos" [readonly]="true" mayuscula/>
                            <label>Nombre producto</label>
                         </span>
                            </div>
                            <div class="ui-g-1 ui-md-2 ui-lg-2 pr0 pl0">
                                <button class="btn-buscar" pButton type="button" (click)="abrirSelectorProducto()" icon="fa-search" [disabled]="componentesInactivos"></button>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-5 p0 text-right">
                        <span class="resalta-texto-peq">&nbsp;</span>
                        <div class="ui-g-12 ui-md-12 ui-lg-12 p0 mt-12">
                            <div class="ui-g-8 ui-md-7 ui-lg-7">
                                <span class="ui-float-label">
                                    <input [(ngModel)]="producto.cantidad" (keyup)="$event.keyCode == 13 && agregarProducto()" type="text" pInputText [disabled]="componentesInactivos" decimal/>
                                    <label>Cantidad</label>
                                </span>
                            </div>
                            <div class="ui-g-4 ui-md-5 ui-lg-5 pr0">
                                <button class="btn-buscar" pButton type="button" label="Agregar" (click)="agregarProducto()" icon="fa-plus" [disabled]="componentesInactivos"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 p0">
                <div class="ui-datatable ui-widget ui-datatable-resizable">
                    <table>
                        <thead class="ui-datatable-thead">
                            <tr class="ui-state-default">
                                <th class="ui-state-default ui-unselectable-text">
                                    <span class="ui-column-title">Cod.</span>
                                </th>
                                <th class="ui-state-default ui-unselectable-text">
                                    <span class="ui-column-title">Nombre</span>
                                </th>
                                <th class="ui-state-default ui-unselectable-text">
                                    <span class="ui-column-title">Marca</span>
                                </th>
                                <th class="ui-state-default ui-unselectable-text">
                                    <span class="ui-column-title">Cant.</span>
                                </th>
                                <th class="ui-state-default ui-unselectable-text">
                                    <span class="ui-column-title">Precio</span>
                                </th>
                                <th class="ui-state-default ui-unselectable-text">
                                    <span class="ui-column-title">Total</span>
                                </th>
                                <th class="ui-state-default ui-unselectable-text">
                                    <span class="ui-column-title"></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="ui-datatable-data ui-widget-content ui-datatable-hoverable-rows">
                            <tr class="ui-datatable-even ui-widget-content" *ngFor="let item of productos; let i = index">
                                <ng-container>
                                    <td>
                                        <span class="ui-cell-data">{{item.codigo}}</span>
                                    </td>
                                    <td class="white-space-unset">
                                        <span class="ui-cell-data">{{item.nombre}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-cell-data">{{item.marca}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-cell-data">
                                                <input [disabled]="componentesInactivos" [(ngModel)]="item.cantidad" class="border-radius-0" type="text" pInputText decimal/>
                                             </span>
                                    </td>
                                    <td>
                                        <span class="ui-cell-data">
                                            <input [disabled]="componentesInactivos" [(ngModel)]="item.precioNormal" class="border-radius-0" type="text" pInputText decimal/>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="ui-cell-data">{{multiplicarValores(item.precioNormal,item.cantidad)}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-cell-data">
                                            <button [disabled]="componentesInactivos" type="button" pButton (click)="eliminarProducto(i)" icon="fa-close"></button>
                                        </span>
                                    </td>
                                </ng-container>
                            </tr>
                            <tr *ngIf="productos.length == 0" class="ui-widget-content ui-datatable-emptymessage-row">
                                <td class="ui-datatable-emptymessage" colspan="10">
                                    <span>No se encontraron registros</span>
                                </td>
                            </tr>
                            <tr class="tr-footer-table" *ngIf="productos.length > 0">
                                <td colspan="3">
                                    <span>Totales: </span>
                                </td>
                                <td>{{calcularTotales('cantidad')}}</td>
                                <td>{{calcularTotales('precioNormal')}}</td>
                                <td>{{calcularTotales('precioNormal','cantidad')}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </p-fieldset>
    </div>
</div>
<div class="ui-g-12 ui-md-12 text-center pt-0 pb-0">
    <button [disabled]="botones.nuevo" class="mb-5" pButton type="button" (click)="nuevo()" label="Nuevo">
        <span class="new"></span>
    </button>
    <button [disabled]="botones.guardar" class="mb-5" pButton type="button" (click)="guardar()" label="Guardar">
        <span class="save"></span>
    </button>
    <button [disabled]="botones.modificar" class="mb-5" pButton type="button" (click)="modificar()" label="Modificar">
        <span class="update"></span>
    </button>
    <button [disabled]="botones.buscar" class="mb-5" pButton type="button" (click)="buscar()" label="Buscar">
        <span class="search"></span>
    </button>

    <button class="mb-5" [disabled]="!documentoCabecera.id" pButton type="button" (click)="visualizar()" label="Visualizar">
                <span class="view"></span>
            </button>
    <button class="mb-5" [disabled]="!documentoCabecera.id" pButton type="button" (click)="imprimir()" label="Imprimir">
                <span class="print"></span>
            </button>
</div>
<pdf-visualizador-modal></pdf-visualizador-modal>
<message-dialog></message-dialog>
<proveedor-buscador-modal (seleccionarProveedor)="seleccionarProveedor($event)"></proveedor-buscador-modal>
<producto-proveedor-buscador-modal (seleccionarProducto)="seleccionarProducto($event)"></producto-proveedor-buscador-modal>
<orden-compra-buscador-modal (seleccionarOrdenCompra)="seleccionarOrdenCompra($event)"></orden-compra-buscador-modal>