<div class="ui-g">
    <div class="ui-g-12 ui-md-3 ui-lg-4">
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
        <div>
            <p-dropdown [options]="tiposUsuario" class="custom-select" [(ngModel)]="idTipoUsuarioSel" (onChange)="cambioTipoUsuario()"></p-dropdown>
        </div>
        <p-tree [value]="nodos" selectionMode="checkbox" [(selection)]="selectedNodes" (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnSelect($event)"></p-tree>
        <div class="text-right">
            <button class="mb-5" pButton type="button" (click)="guardar()" label="Guardar">
               
            </button>
        </div>

    </div>
    <div class="ui-g-12 ui-md-3 ui-lg-4">

    </div>
</div>
<message-dialog></message-dialog>