<div class="ui-g">
    <div class="ui-g-12 ui-md-12 ui-lg-1"></div>
    <div class="ui-g-12 ui-md-12 ui-lg-10 p0">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-6">
                <span>Sucursal de origen</span>
                <p-dropdown [options]="sucursalesOrigen" class="custom-select" [(ngModel)]="documentoCabecera.sucursal.id" [disabled]="componentesInactivos"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-6">
                <span>Sucursal de destino</span>
                <p-dropdown [options]="sucursalesDestino" class="custom-select" [(ngModel)]="documentoCabecera.sucursalDestino.id" [disabled]="componentesInactivos"></p-dropdown>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-1"></div>
    <div class="ui-g-12 ui-md-12 ui-lg-1"></div>
    <div class="ui-g-12 ui-md-12 ui-lg-10">
        <p-fieldset legend="Productos" [toggleable]="false">
            <div class="ui-g-12 ui-md-12 ui-lg-12 p0">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-7 p0">
                        <div class="ui-g-12 ui-md-12 ui-lg-12 p0">
                            <div class="ui-g-12 ui-md-4 ui-lg-3 pr0 pl0">
                                <span class="ui-float-label">
                                    <input class="border-radius-0" maxlength="6" [(ngModel)]="producto.codigo" (keyup)="$event.keyCode == 13 && obtenerProductoPorCodigo()" type="text" pInputText [disabled]="componentesInactivos"  mayuscula/>
                                    <label>Cod. producto</label>
                                </span>
                            </div>
                            <div class="ui-g-11 ui-md-6 ui-lg-7 pr0 pl0">
                                <span class="ui-float-label">
                                    <input class="border-radius-0" [(ngModel)]="producto.nombre" type="text" pInputText [disabled]="componentesInactivos" [readonly]="true" mayuscula/>
                                    <label>Nombre producto</label>
                                </span>
                            </div>
                            <div class="ui-g-1 ui-md-2 ui-lg-2 pr0 pl0">
                                <button class="btn-buscar" pButton type="button" (click)="abrirSelectorProducto()" icon="fa-search" [disabled]="componentesInactivos"></button>
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-5 p0 text-right">
                        <div class="ui-g-12 ui-md-12 ui-lg-12 p0">
                            <div class="ui-g-8 ui-md-7 ui-lg-7">
                                <span class="ui-float-label">
                                    <input *ngIf="!producto.disponibleDecimales" class="border-radius-0" [(ngModel)]="producto.cantidad" (keyup)="$event.keyCode == 13 && agregarProducto()" type="text" pInputText [disabled]="componentesInactivos" entero/>
                                    <input *ngIf="producto.disponibleDecimales" [(ngModel)]="producto.cantidad" (keyup)="$event.keyCode == 13 && agregarProducto()" type="text" pInputText [disabled]="componentesInactivos" decimal/>
                                    <label>Cantidad</label>
                                </span>
                            </div>
                            <div class="ui-g-4 ui-md-5 ui-lg-5 pr0">
                                <button class="btn-buscar" pButton type="button" label="Agregar" (click)="agregarProducto()" icon="fa-plus" [disabled]="componentesInactivos"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 p0">
                <div class="ui-datatable ui-widget ui-datatable-resizable">
                    <table>
                        <thead class="ui-datatable-thead">
                            <tr class="ui-state-default">
                                <th class="ui-state-default ui-unselectable-text">
                                    <span class="ui-column-title">Cod.</span>
                                </th>
                                <th class="ui-state-default ui-unselectable-text">
                                    <span class="ui-column-title">Nombre</span>
                                </th>
                                <th class="ui-state-default ui-unselectable-text">
                                    <span class="ui-column-title">Marca</span>
                                </th>
                                <th class="ui-state-default ui-unselectable-text">
                                    <span class="ui-column-title">Cant.</span>
                                </th>
                                <th class="ui-state-default ui-unselectable-text">
                                    <span class="ui-column-title"></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="ui-datatable-data ui-widget-content ui-datatable-hoverable-rows">
                            <tr class="ui-datatable-even ui-widget-content" *ngFor="let item of productos; let i = index">
                                <ng-container>
                                    <td>
                                        <span class="ui-cell-data">{{item.codigo}}</span>
                                    </td>
                                    <td class="white-space-unset">
                                        <span class="ui-cell-data">{{item.nombre}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-cell-data">{{item.marca}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-cell-data" *ngIf="item.disponibleDecimales">
                                            <input [disabled]="componentesInactivos" [(ngModel)]="item.cantidad" class="border-radius-0" type="text" pInputText decimal/>
                                        </span>
                                        <span class="ui-cell-data" *ngIf="!item.disponibleDecimales">
                                            <input  [disabled]="componentesInactivos" [(ngModel)]="item.cantidad" class="border-radius-0" type="text" pInputText entero/>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="ui-cell-data">
                                            <button [disabled]="componentesInactivos" type="button" pButton (click)="eliminarProducto(i)" icon="fa-close"></button>
                                        </span>
                                    </td>
                                </ng-container>
                            </tr>
                            <tr *ngIf="productos.length == 0" class="ui-widget-content ui-datatable-emptymessage-row">
                                <td class="ui-datatable-emptymessage" colspan="10">
                                    <span>No se encontraron registros</span>
                                </td>
                            </tr>
                            <tr class="tr-footer-table" *ngIf="productos.length > 0">
                                <td colspan="3">
                                    <span>Totales: </span>
                                </td>
                                <td>{{calcularTotales('cantidad')}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </p-fieldset>
    </div>
    <div class="ui-g-12 ui-md-12 text-center pt-0 pb-0">
        <button [disabled]="botones.nuevo" class="mb-5" pButton type="button" (click)="nuevo()" label="Nuevo">
            <span class="new"></span>
        </button>
        <button [disabled]="botones.guardar" class="mb-5" pButton type="button" (click)="guardar()" label="Guardar">
            <span class="save"></span>
        </button>
        <!-- <button [disabled]="botones.modificar" class="mb-5" pButton type="button" (click)="modificar()" label="Modificar">
            <span class="update"></span>
        </button> -->
        <button [disabled]="botones.nuevo" class="mb-5" pButton type="button" (click)="consultar()" label="Consultar">
            <span class="search"></span>
        </button>
        <button [disabled]="botones.cancelar" class="mb-5" pButton type="button" (click)="cancelar()" label="Cancelar">
            <span class="cancel"></span>
        </button>
        <button [disabled]="botones.modificar" class="mb-5" pButton type="button" (click)="visualizar()" label="Visualizar">
                <span class="view"></span>
        </button>
    </div>
</div>
<pdf-visualizador-modal></pdf-visualizador-modal>
<message-dialog></message-dialog>
<producto-requerimiento-transferencia-buscador-modal (seleccionarProducto)="seleccionarProducto($event)"></producto-requerimiento-transferencia-buscador-modal>
<requerimiento-transferencia-buscador-modal (seleccionarRequerimientoTransferencia)="seleccionarRequerimientoTransferencia($event)"></requerimiento-transferencia-buscador-modal>