<div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-8">
        <tipo-documento-buscador (respuestaBuscador)="respuestaBuscador($event)" (onSelect)="seleccionarTipoDocumento($event)"></tipo-documento-buscador>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
        <tipo-documento-formulario [tipoDocumento]="tipoDocumento" (respuestaFormulario)="respuestaFormulario($event)" (respuestaError)="respuestaError($event)"></tipo-documento-formulario>
        <div class="ui-g-12 ui-md-12 ui-lg-12 text-center">
            <button [disabled]="botones.nuevo" class="mb-5" pButton type="button" (click)="nuevo()" label="Nuevo">
                <span class="new"></span>
            </button>
            <button [disabled]="botones.guardar" class="mb-5" pButton type="button" (click)="guardar()" label="Guardar">
                <span class="save"></span>
            </button>
            <button [disabled]="botones.modificar" class="mb-5" pButton type="button" (click)="modificar()" label="Modificar">
                <span class="update"></span>
            </button>
            <button [disabled]="botones.eliminar" class="mb-5" pButton type="button" (click)="eliminar()" label="Eliminar">
                <span class="delete"></span>
            </button>
            <button [disabled]="botones.cancelar" class="mb-5" pButton type="button" (click)="cancelar()" label="Cancelar">
                <span class="cancel"></span>
            </button>
            <button class="mb-5" pButton type="button" (click)="visualizar()" label="Visualizar">
                <span class="view"></span>
            </button>
        </div>
    </div>
</div>
<message-dialog></message-dialog>
<pdf-visualizador-modal></pdf-visualizador-modal>