<div class="ui-g-12 ui-md-12 ui-lg-12">
    <span class="ui-float-label">
         <input #toFocus type="text" pInputText maxlength="50" [(ngModel)]="categoria.nombre" [disabled]="componentesInactivos" mayuscula/>
        <label>Nombre</label>
    </span>
</div>
