<div class="ui-g-12 ui-md-12 ui-lg-12">
    <span class="ui-float-label">
         <input #toFocus id="nombre" maxlength="50" type="text" pInputText [(ngModel)]="marca.nombre" [disabled]="componentesInactivos" mayuscula/>
        <label for="nombre">Nombre</label>
    </span>
</div>