<div class="ui-g-12 ui-md-12 ui-lg-12">
    <p-dropdown [options]="tiposPersona" class="custom-select" [disabled]="componentesInactivos" [(ngModel)]="persona.tipoPersona"></p-dropdown>
</div>
<div class="ui-g-12 ui-md-12 ui-lg-12">
    <span class="ui-float-label">
         <input #toFocus  type="text" maxlength="100" pInputText [(ngModel)]="persona.nombre" [disabled]="componentesInactivos" mayuscula/>
        <label for="nombre">Nombre</label>
    </span>
</div>
<div class="ui-g-12 ui-md-12 ui-lg-12">
    <span class="ui-float-label">
         <input  type="text" maxlength="100" pInputText [(ngModel)]="persona.apellidos" [disabled]="componentesInactivos" mayuscula/>
        <label for="apellidos">Apellidos</label>
    </span>
</div>
<div class="ui-g-12 ui-md-12 ui-lg-12">
    <div class="ui-g-10 ui-md-10 ui-lg-11 pr0 pl0">
        <span class="ui-float-label">
            <input class="border-radius-0" [(ngModel)]="persona.tipoDocumento.nombre" type="text" pInputText [disabled]="componentesInactivos" [readonly]="true" mayuscula/>
            <label>Tipo de documento</label>
        </span>
    </div>
    <div class="ui-g-2 ui-md-2 ui-lg-1 pr0 pl0">
        <button class="btn-buscar" pButton type="button" (click)="abrirSelectorTipoDocumento()" icon="fa-search" [disabled]="componentesInactivos"></button>
    </div>
</div>
<div class="ui-g-12 ui-md-12 ui-lg-12">
    <span class="ui-float-label">
         <input  type="text" pInputText maxlength="11" entero [(ngModel)]="persona.numeroDocumento" [disabled]="componentesInactivos"/>
        <label>Número de documento</label>
    </span>
</div>
<div class="ui-g-12 ui-md-12 ui-lg-12">
    <span class="ui-float-label">
         <input  maxlength="100" type="text" pInputText [(ngModel)]="persona.direccion" [disabled]="componentesInactivos" mayuscula/>
        <label>Dirección</label>
    </span>
</div>
<div class="ui-g-12 ui-md-12 ui-lg-12">
    <span class="ui-float-label">
         <input  maxlength="15" type="text" pInputText entero [(ngModel)]="persona.telefono" [disabled]="componentesInactivos"/>
        <label>Teléfono</label>
    </span>
</div>
<div class="ui-g-12 ui-md-12 ui-lg-12">
    <span class="ui-float-label">
         <input maxlength="50" type="text" pInputText [(ngModel)]="persona.email" [disabled]="componentesInactivos"/>
        <label>Email</label>
    </span>
</div>
<tipo-documento-buscador-modal (seleccionarTipoDocumento)="seleccionarTipoDocumento($event)"></tipo-documento-buscador-modal>