<div class="ui-g-12 ui-md-12 ui-lg-12">
    <span class="ui-float-label">
        <input type="text"   pInputText [(ngModel)]="producto.codigo" [readonly]="true" [disabled]="componentesInactivos"/>
        <label>Código</label>
    </span>
</div>
<br>
<div class="ui-g-12 ui-md-12 ui-lg-12">
    <span class="ui-float-label">
        <input type="text" #toFocus pInputText maxlength="150" [(ngModel)]="producto.nombre" [disabled]="componentesInactivos" mayuscula/>
        <label>Nombre</label>
    </span>
</div>
<br>
<div class="ui-g-12 ui-md-12 ui-lg-12">
    <div class="ui-g-10 ui-md-10 ui-lg-11 pr0 pl0">
        <span class="ui-float-label">
            <input class="border-radius-0" [(ngModel)]="producto.marca.nombre" type="text" pInputText [disabled]="componentesInactivos" [readonly]="true" mayuscula/>
            <label>Marca</label>
        </span>
    </div>
    <div class="ui-g-2 ui-md-2 ui-lg-1 pr0 pl0">
        <button class="btn-buscar" pButton type="button" (click)="abrirSelectorMarca()" icon="fa-search" [disabled]="componentesInactivos"></button>
    </div>
</div>
<div class="ui-g-12 ui-md-12 ui-lg-12">
    <div class="ui-g-10 ui-md-10 ui-lg-11 pr0 pl0">
        <span class="ui-float-label">
            <input class="border-radius-0" [(ngModel)]="producto.categoria.nombre" type="text" pInputText [disabled]="componentesInactivos" [readonly]="true" mayuscula/>
            <label>Categoria</label>
        </span>
    </div>
    <div class="ui-g-2 ui-md-2 ui-lg-1 pr0 pl0">
        <button class="btn-buscar" pButton type="button" (click)="abrirSelectorCategoria()" icon="fa-search" [disabled]="componentesInactivos"></button>
    </div>
</div>

<div class="ui-g-12 ui-md-12 ui-lg-12">
    <div class="ui-g-10 ui-md-10 ui-lg-11 pr0 pl0">
        <span class="ui-float-label">
            <input class="border-radius-0" [(ngModel)]="producto.unidad.nombre" type="text" pInputText [disabled]="componentesInactivos" [readonly]="true" mayuscula/>
            <label>Unidad</label>
        </span>
    </div>
    <div class="ui-g-2 ui-md-2 ui-lg-1 pr0 pl0">
        <button class="btn-buscar" pButton type="button" (click)="abrirSelectorUnidad()" icon="fa-search" [disabled]="componentesInactivos"></button>
    </div>
</div>
<unidad-buscador-modal (seleccionarUnidad)="seleccionarUnidad($event)"></unidad-buscador-modal>
<marca-buscador-modal (seleccionarMarca)="seleccionarMarca($event)"></marca-buscador-modal>
<categoria-buscador-modal (seleccionarCategoria)="seleccionarCategoria($event)"></categoria-buscador-modal>