<div class="ui-g-12 ui-md-12 ui-lg-12">
    <div class="ui-g-10 ui-md-10 ui-lg-11 pr0 pl0">
        <span class="ui-float-label">
            <input class="border-radius-0" [(ngModel)]="proveedor.persona.nombre" type="text" pInputText [disabled]="componentesInactivos" [readonly]="true" mayuscula/>
            <label>Persona</label>
        </span>
    </div>
    <div class="ui-g-2 ui-md-2 ui-lg-1 pr0 pl0">
        <button class="btn-buscar" pButton type="button" (click)="abrirSelectorPersona()" icon="fa-search" [disabled]="componentesInactivos"></button>
    </div>
</div>
<div class="ui-g-12 ui-md-12 ui-lg-12">
    <span class="ui-float-label">
            <input class="border-radius-0" maxlength="100" [(ngModel)]="proveedor.web" type="text" pInputText [disabled]="componentesInactivos" mayuscula/>
            <label>Web</label>
        </span>
</div>
<persona-buscador-modal (seleccionarPersona)="seleccionarPersona($event)"></persona-buscador-modal>