<div class="ui-g-12 ui-md-12 ui-lg-12">
    <span class="ui-float-label">
        <input type="text" #toFocus pInputText maxlength="100" [(ngModel)]="sucursal.nombre" [disabled]="componentesInactivos" mayuscula/>
        <label>* Nombre</label>
    </span>
</div>
<br>
<div class="ui-g-12 ui-md-12 ui-lg-12">
    <span class="ui-float-label">
        <input type="text"  pInputText maxlength="50" [(ngModel)]="sucursal.direccion" [disabled]="componentesInactivos" mayuscula/>
        <label>* Dirección</label>
    </span>
</div>
<div class="ui-g-12 ui-md-12 ui-lg-12">
    <span class="ui-float-label">
        <input type="text"  pInputText maxlength="20" [(ngModel)]="sucursal.telefono" [disabled]="componentesInactivos"/>
        <label>Teléfono</label>
    </span>
</div>
<div class="ui-g-12 ui-md-12 ui-lg-12">
    <span class="ui-float-label">
        <input type="text"  pInputText maxlength="4" [(ngModel)]="sucursal.serie" [disabled]="componentesInactivos || sucursal.id"/>
        <label>* Serie</label>
    </span>
</div>