<div class="ui-g-12 ui-md-12 ui-lg-12">
    <span class="ui-float-label">
        <input #toFocus type="text" pInputText maxlength="50" [(ngModel)]="tipoDocumento.nombre" [disabled]="componentesInactivos" mayuscula/>
        <label>Nombre</label>
    </span>
</div>
<br>
<div class="ui-g-12 ui-md-12 ui-lg-12">
    <span class="ui-float-label">
        <input type="text"  maxlength="6" pInputText [(ngModel)]="tipoDocumento.abreviatura" [disabled]="componentesInactivos" mayuscula/>
        <label>Abreviatura</label>
    </span>
</div>
