<p-tabView>
    <p-tabPanel header="Datos">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="ui-g-10 ui-md-10 ui-lg-11 pr0 pl0">
                <span class="ui-float-label">
            <input class="border-radius-0" [(ngModel)]="trabajador.persona.nombre" type="text" pInputText [disabled]="componentesInactivos" [readonly]="true" mayuscula/>
            <label>Persona</label>
        </span>
            </div>
            <div class="ui-g-2 ui-md-2 ui-lg-1 pr0 pl0">
                <button class="btn-buscar" pButton type="button" (click)="abrirSelectorPersona()" icon="fa-search" [disabled]="componentesInactivos"></button>
            </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <span class="ui-float-label">
        <p-calendar  [(ngModel)]="trabajador.fechaNacimiento" [disabled]="componentesInactivos" dateFormat="dd/mm/yy" showIcon="true" yearNavigator="true" [locale]="es" monthNavigator="true" yearRange="1800:3000"></p-calendar>
        <label>Fecha de nacimiento</label>
    </span>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <span class="ui-float-label">
    <p-calendar [(ngModel)]="trabajador.fechaIngreso" [disabled]="componentesInactivos" dateFormat="dd/mm/yy" showIcon="true" yearNavigator="true" [locale]="es" monthNavigator="true" yearRange="1800:3000"></p-calendar>
  <label>Fecha de ingreso</label>
    </span>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <span class="ui-float-label">
    <p-calendar [(ngModel)]="trabajador.fechaSalida" [disabled]="componentesInactivos" dateFormat="dd/mm/yy" showIcon="true" yearNavigator="true" [locale]="es" monthNavigator="true" yearRange="1800:3000"></p-calendar>
  <label>Fecha de salida</label>
    </span>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Sucursales">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-10 ui-md-10 ui-lg-11 pr0 pl0">
                    <span class="ui-float-label">
                        <input class="border-radius-0" type="text" pInputText [(ngModel)]="trabajadorSucursal.sucursal.nombre" [disabled]="componentesInactivos" [readonly]="true" mayuscula/>
                        <label>Sucursal</label>
                    </span>
                </div>
                <div class="ui-g-2 ui-md-2 ui-lg-1 pr0 pl0">
                    <button class="btn-buscar" pButton type="button" (click)="abrirSelectorSucursal()" icon="fa-search" [disabled]="componentesInactivos"></button>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12 text-center">
                <button [disabled]="componentesInactivos || indiceSucursalSel >= 0" class="mb-5" pButton type="button" (click)="agregarTrabajadorSucursal()" label="Agregar">
                    <span class="save"></span>
                </button>
                <button [disabled]="componentesInactivos || indiceSucursalSel < 0" class="mb-5" pButton type="button" (click)="modificarTrabajadorSucursal()" label="Modificar">
                    <span class="update"></span>
                </button>
                <button [disabled]="componentesInactivos || indiceSucursalSel < 0" class="mb-5" pButton type="button" (click)="quitarTrabajadorSucursal()" label="Quitar">
                    <span class="delete"></span>
                </button>
                <button [disabled]="componentesInactivos || indiceSucursalSel < 0" class="mb-5" pButton type="button" (click)="cancelarTrabajadorSucursal()" label="Cancelar">
                    <span class="cancel"></span>
                </button>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-datatable ui-widget">
                <div class="ui-datatable-tablewrapper">
                    <table class="tabla-datos">
                        <thead class="ui-datatable-thead">
                            <tr class="ui-state-default">
                                <th class="campo-tabla-25 ui-state-default ui-unselectable-text">
                                    <span class="ui-column-title">#</span>
                                </th>
                                <th class="ui-state-default ui-unselectable-text">
                                    <span class="ui-column-title">sucursal</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="ui-datatable-data ui-widget-content ui-datatable-hoverable-rows">
                            <tr class="ui-datatable-even ui-widget-content" *ngFor="let item of trabajador.trabajadorSucursales; let i = index" [attr.data-index]="i" [ngClass]="{'ui-state-highlight': selectedIndex == i}" (click)="selectedIndex = i; seleccionarTrabajadorSucursal(i, tr); "
                                #tr>
                                <ng-container *ngIf="!item.eliminar">
                                    <td class="campo-tabla-25">
                                        <span class="ui-cell-data">{{i+1}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-cell-data">{{item.sucursal.nombre}}</span>
                                    </td>
                                </ng-container>
                            </tr>
                            <tr *ngIf="trabajador.trabajadorSucursales.length == 0" class="ui-widget-content ui-datatable-emptymessage-row">
                                <td class="ui-datatable-emptymessage" colspan="2">
                                    <span>No se encontraron registros</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </p-tabPanel>
</p-tabView>
<persona-buscador-modal (seleccionarPersona)="seleccionarPersona($event)"></persona-buscador-modal>
<sucursal-buscador-modal (seleccionarSucursal)="seleccionarSucursal($event)"></sucursal-buscador-modal>