<div class="ui-g-12 ui-md-12 ui-lg-12">
    <span class="ui-float-label">
        <input #toFocus id="nombre" type="text" pInputText maxlength="50" [(ngModel)]="unidad.nombre" [disabled]="componentesInactivos" mayuscula/>
        <label for="nombre">Nombre</label>
    </span>
</div>
<br>
<div class="ui-g-12 ui-md-12 ui-lg-12">
    <span class="ui-float-label">
        <input id="nombre" type="text" pInputText maxlength="10" [(ngModel)]="unidad.abreviatura" [disabled]="componentesInactivos" mayuscula/>
        <label for="nombre">Abreviatura</label>
    </span>
</div>
