<p-tabView>
    <p-tabPanel header="Datos">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <span class="ui-float-label">
        <input type="text" #toFocus pInputText maxlength="90" [(ngModel)]="usuario.login" [disabled]="componentesInactivos" mayuscula/>
        <label>Login</label>
    </span>
        </div>
        <br>
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <span class="ui-float-label">
        <input type="password" pPassword [(ngModel)]="usuario.clave" [feedback]="false" [disabled]="componentesInactivos"/>
        <label>Contraseña</label>
    </span>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="ui-g-10 ui-md-10 ui-lg-11 pr0 pl0">
                <span class="ui-float-label">
            <input class="border-radius-0" type="text" [(ngModel)]="usuario.trabajador.persona.nombre" pInputText [disabled]="componentesInactivos" [readonly]="true" mayuscula/>
            <label>Trabajador</label>
        </span>
            </div>
            <div class="ui-g-2 ui-md-2 ui-lg-1 pr0 pl0">
                <button class="btn-buscar" pButton type="button" (click)="abrirSelectorTrabajador()" icon="fa-search" [disabled]="componentesInactivos"></button>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Accesos">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-10 ui-md-10 ui-lg-11 pr0 pl0">
                    <span class="ui-float-label">
                        <input class="border-radius-0" type="text" pInputText [(ngModel)]="usuarioAcceso.tipoUsuario.nombre" [disabled]="componentesInactivos" [readonly]="true" mayuscula/>
                        <label>Tipo de usuario</label>
                    </span>
                </div>
                <div class="ui-g-2 ui-md-2 ui-lg-1 pr0 pl0">
                    <button class="btn-buscar" pButton type="button" (click)="abrirSelectorTipoUsuario()" icon="fa-search" [disabled]="componentesInactivos"></button>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12 text-center">
                <button [disabled]="componentesInactivos || indiceTipoUsuarioSel >= 0" class="mb-5" pButton type="button" (click)="agregarUsuarioAcceso()" label="Agregar">
                    <span class="save"></span>
                </button>
                <button [disabled]="componentesInactivos || indiceTipoUsuarioSel < 0" class="mb-5" pButton type="button" (click)="modificarUsuarioAcceso()" label="Modificar">
                    <span class="update"></span>
                </button>
                <button [disabled]="componentesInactivos || indiceTipoUsuarioSel < 0" class="mb-5" pButton type="button" (click)="quitarUsuarioAcceso()" label="Quitar">
                    <span class="delete"></span>
                </button>
                <button [disabled]="componentesInactivos || indiceTipoUsuarioSel < 0" class="mb-5" pButton type="button" (click)="cancelarUsuarioAcceso()" label="Cancelar">
                    <span class="cancel"></span>
                </button>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-datatable ui-widget">
                <div class="ui-datatable-tablewrapper">
                    <table class="tabla-datos">
                        <thead class="ui-datatable-thead">
                            <tr class="ui-state-default">
                                <th class="campo-tabla-25 ui-state-default ui-unselectable-text">
                                    <span class="ui-column-title">#</span>
                                </th>
                                <th class="ui-state-default ui-unselectable-text">
                                    <span class="ui-column-title">tipo de usuario</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="ui-datatable-data ui-widget-content ui-datatable-hoverable-rows">
                            <tr class="ui-datatable-even ui-widget-content" *ngFor="let item of usuario.usuarioAccesos; let i = index" [attr.data-index]="i" [ngClass]="{'ui-state-highlight': selectedIndex == i}" (click)="selectedIndex = i; seleccionarUsuarioAcceso(i, tr); " #tr>
                                <ng-container *ngIf="!item.eliminar">
                                    <td class="campo-tabla-25">
                                        <span class="ui-cell-data">{{i+1}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-cell-data">{{item.tipoUsuario.nombre}}</span>
                                    </td>
                                </ng-container>
                            </tr>
                            <tr *ngIf="usuario.usuarioAccesos.length == 0" class="ui-widget-content ui-datatable-emptymessage-row">
                                <td class="ui-datatable-emptymessage" colspan="2">
                                    <span>No se encontraron registros</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </p-tabPanel>
</p-tabView>
<trabajador-buscador-modal (seleccionarTrabajador)="seleccionarTrabajador($event)"></trabajador-buscador-modal>
<tipo-usuario-buscador-modal (seleccionarTipoUsuario)="seleccionarTipoUsuario($event)"></tipo-usuario-buscador-modal>